.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.disabled-tabs {
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  margin-top: 0;
  &_item {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-style: normal;
    font-family: Work Sans;
    color: #011D51;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }
    &:focus {
      outline: none;
      border-bottom: 3px solid gray;
      color: #03B3F9;
    }
    &_active {
      color: #03B3F9;
    }
    &:disabled {
      border-bottom: 3px solid transparent;
      color: gray;
      cursor: default;
    }
    .tabs_item:first-child {
      margin-left: 0;
    }
    .tabs_item:last-child {
      margin-right: 0;
    }
  }
  &_active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #03B3F9;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}
